.card{
	margin-top: 40px;
}


#demo8{
	display: none;
}

.demo10{
	display: inline-block;
	background: red;
	color: #fff;
}

.main-container div{
	padding: 10px;
	border: 1px solid gray;
	margin: 10px;
}