.card{
	margin-top: 40px;
}


#demo8{
	display: none;
}

.demo10{
	display: inline-block;
	background: red;
	color: #fff;
}

.main-container div{
	padding: 10px;
	border: 1px solid gray;
	margin: 10px;
}

/*Tools*/
.tools-container .card img{
	width: 250px;
    height: 250px;
    object-fit: contain;
    object-position: center;
    margin: auto;
    padding: 20px 0;
}